<div class="bg-video-wrap">
  <%# <%= video_tag asset_path("IMG_4056.mp4", :autoplay => "true", :loop => "true", :muted => "true" ) %> %>
    <video src="<%= asset_path 'IMG_4056.mp4'%>"
       width="640" height="360"
       autoplay muted loop playsinline>
    </video>
    <div class="overlay">
        <%= image_tag asset_path("Poaner3.png", alt: "applogo", :id => "logo") %>
    <ul class="account">
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </ul>
  </div>
</div>
<%= render 'layouts/sns' %>