<div class="container">
    <% provide(:title, "My page") %>
    <h1>趣味の紹介</h1>
    <div id="news" class="big-bg">
      <div class="news-contents wrapper">
          <article>
              <header class="post-info">
                  <h2 class="post-info__title"></h2>
                  <p class="post-info__date">3/21 <span>2020</span></p>
                  <p class="post-info__cat">カテゴリー：趣味</p>
              </header>
              <%= image_tag asset_path("tennis/IMG_4103.JPG") %>
          </article>

          <aside>
              <h3 class="sub-title">カテゴリー</h3>
              <ul class="sub-menu">
                  <li><a href="/introduction">家族の紹介</a></li>
                  <li><a href="/tennis">趣味</a></li>
                  <li><a href="/interview">友人へのインタビュー</a></li>
              </ul>

              <h3 class="sub-title">趣味の紹介</h3>
              <p>
                  テニス<br>
                  
                  筋トレ(始めたばかりです💦)<br>
                  野球観戦 <br>

          </aside>
      </div><!-- /.news-contents -->
      <div id="Tennis-Items">
              <%# <div>A</div> %>
              <div class="My-image1">
                  <%= image_tag asset_path("tennis/IMG_4104.JPG") %>
              </div>
              <div class="My-movie2">
                  <%= video_tag asset_path("tennis/IMG_2327.mp4", autoplay controls) %>
              </div>
              <div class="My-movie3">
                  <video src="/assets/tennis/IMG_1988_2.mov" class="My-movie3__item" loop muted autoplay></video>
              </div>
              <div>F</div>
              <div class="My-image4">
                <%= image_tag asset_path("friends/IMG_1665.JPG") %>
              </div>
              <div class="My-image5">
                <%= image_tag asset_path("friends/IMG_4092.JPG") %>
             </div>
              
      </div>
    </div>
</div>

