<div class="contents">
  <div class="post">
    <div class="postTitle">
      <%= @post.title %>
    </div>
    <div class="postDate">
        <%= @post.created_at %>
    </div>
    <% if logged_in? && current_user.id == @post.user_id %>
    <div class="postManage">
      <%= link_to "編集", edit_post_path(@post.id), class: "postManage__edit" %>
      <%= link_to "削除", post_path(@post.id), method: :delete, class: "postManage__delete" %>
    </div>
    <% end %>
    <div class="postText">
      <%= simple_format @post.content %>
      <% if @post.image? %>
        <%= image_tag @post.image.url %>
      <% end %>
    </div>
    
    <h2>コメント一覧</h2>
    <% @comments.each do |comment| %>
    <%= comment.user.name %>
    <%= comment.content %>
    <%= link_to '削除', post_comment_path(@post, comment), method: :delete %>
    <% end %>

    <%= form_with model: [@post, @comment], local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

        <div class = 'form-group'>
          <%= f.text_area :content, class: 'form-control', placeholder: "コメントを記入してください" %>
        </div>

        <%= f.submit "コメントする", class: "btn btn-primary" %>
    <% end %>
  </div>
<div>