<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="main">
      <div class="contents">
        <div class="contents__inner">
          <% flash.each do |message_type, message| %>
            <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
  <div class="footer navbar-inverse">
      <div class="footer__wrapper">
          <small>&copy; 2020 maeda blog </small>
      </div>
  </div>
</html>
